*, :before, :after {
  box-sizing: border-box;
 }

body {
  background-color: #8c8c8c;
  font-family: sans-serif;
  /* font-size: 10px; */
}

.container {
  background-color: #ffffff;
  margin: 0 auto;
  width: 420px;
  height: 736px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color:#4cd964;
}

.restaurant-list {
  padding: 50px 16px;
}


/* ALIGNMENT */
.content, .location, .running, .non-running { 
display: flex;
justify-content: space-between;
flex-flow: row wrap;
flex-basis: 94%;
}

h2, h4 { 
text-align: right;}

h1, h2, h3, h4 {
  flex-basis: 50%; /* default auto */
}

div {
    display: flex;
}

/* FONTS */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.screen-title {
  display: inline-block;
  font-size: 20px;
  margin: 0 0 0 16px;
}

.restaurant-list h1, .restaurant-list h2, .restaurant-list h3, .restaurant-list h4 {
  font-family: "San Francisco";
}

.restaurant-list h1 { 
  font-weight: bold;
  font-size: 40px;
  padding-top: 10px;
}

.restaurant-list h2 {
  letter-spacing: 1.45%;
  font-weight: bold; 
  font-size: 34px;
  padding-top: 10px;
}

.restaurant-list h3, .restaurant-list h4 { 
  font-size: 15px;
  letter-spacing: -1.6%; 
  color: #666666;
  padding-top: 2%;
}

.minute {
font-size: 17px;
letter-spacing: -2.41%;
}

.smallminute {
  font-size: 15px;
  }

.non-running, .non-running h3, .non-running h4, .fa-chevron-right {
  color: #8c8c8c !important;
}

.non-running h2 {
font-size: 17px;
padding-top: 15px;
}

.RD {
  font-size: 12px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid  #4cd964;
  margin: 1em 0;
  padding: 0;
}

/* Put last */

/* MEDIA QUERIES */
/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
  
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  
}